<%- include('Navbar'); %>
<img class="coverimg" src="/headers/checkoutHead.png">
    <div class="checkout-page">

        
        <div class="cart">
            <h6>Your Cart</h6>
            <table>
                <tr>
                  <th></th>
                  <th>T-Shirt</th>
                  <th>Size</th>
                  <th>Pieces</th>
                  <th>Price</th>
                </tr>
                <% var i;
                var pic;
                var total = 0;
                for(i=0;i < product.length;i++){
                    pic = "/products/product-shirt/product"+ (i+1) +".png";
                    total += product[i].total;
                    %>
                <tr>
                  <td><center><img src="<%= pic%>"></center></td>
                  <td><%= product[i].productName%></td>
                  <td><%= product[i].size%></td>
                  <td><%= product[i].quantity%></td>
                  <td><%= product[i].total%></td>
                </tr>
               <% } %>
            </table>
            <br>
            <h5>Total: <%= total%></h5>
        </div>
        <br><br><br>
        <div class="contact">
            <p>Delivery Information<br><br><%= users[0].name %><br>
                <%= users[0].email %><br>
                <%= users[0].Number %><br>
                <%= users[0].address %>
            </p>
           
            <div class="confirm-button">
                <a href="checkout-confirm" id="<%= users[0].email %>">
                    <button type="button" class="btn btn-dark">Checkout</button>
                </a>
            </div>
            
        </div>

        
        
    </div>
    <script>
        function sendEmail(elem, event){
            event.preventDefault();
            Email.send({
               SecureToken:  'e83d0ff7-4c96-444b-94e7-70754fa6b0d8',
                To : 'sagnoynatalie@gmail.com' ,
                From : "doej61918@gmail.com",
                Subject : "This is the subject",
                Body : "And this is the body"
            }).then(
            message => alert(message)
            );
        }
    </script>
    <%- include('Footer'); %>
<style scoped>

    .checkout-page{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        
        width: 60%;
        padding: 10px;
    }
    h5{
        float:right;
    }
    table{
        text-align: right;
        margin-top: 30px;
    }

    th{
        width: 200px;
    }
  
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    img{
        width: 80px;
        height: auto;
    }

    .confirm-button button{
        margin-top: 30px;
        float: left;
    }

    .coverimg{
          padding-bottom: 25px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 68%;
    }
</style>
